<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/onsenui.css"/>
        <link rel="stylesheet" href="css/onsen-css-components.css"/>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
        * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"> -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Stere</title>
    </head>
    <body ng-controller="AppController">
        <ons-navigator title="Navigator" var="myNavigator">
          <ons-page>
            <!-- <ons-toolbar>
              <div class="center">Conversion :</div>
            </ons-toolbar> -->
            <h1>Choisissez une conversion :</h1>
            <div class="accueil">
              <br>
              <button class="button button--large" id="button1">
                stere -> volume
              </button>
              <br>
              <br>
              <button class="button button--large" ng-click="myNavigator.pushPage('bucherStere', { animation : 'slide' } )">
                dimensions du bucher -> stere
              </button>
              <br>
              <br>
              <button class="button button--large" ng-click="myNavigator.pushPage('volumeStere', { animation : 'slide' } )">
                volume -> stere
              </button>
            </div>

            <div class="tab-bar">
              <label class="tab-bar__item">
                <!-- <input type="radio" name="tab-bar-a"> -->
                <button class="tab-bar__button" ng-click="myNavigator.pushPage('aide', { animation : 'slide' } )">
                  <i class="tab-bar__icon ion-help"></i>
                  <div class="tab-bar__label">Aide</div>
                </button>
              </label>

              <label class="tab-bar__item">
                <!-- <input type="radio" name="tab-bar-a"> -->
                <button class="tab-bar__button" ng-click="myNavigator.pushPage('aPropos', { animation : 'slide' } )">
                  <i class="tab-bar__icon ion-information"></i>
                  <div class="tab-bar__label">Infos</div>
                </button>
              </label>

             <!--  <label class="tab-bar__item">
                <input type="radio" name="tab-bar-a">
                <button class="tab-bar__button">
                  <i class="tab-bar__icon ion-settings"></i>
                  <div class="tab-bar__label">Reglages</div>
                </button>
              </label> -->
            </div>

          </ons-page>
          
        </ons-navigator>

        <ons-template id="stereVolume">
          <ons-page ng-controller="StereVolumeCtrl">
            <ons-toolbar>
              <div class="left">
                <ons-back-button>Retour</ons-back-button>
              </div>
            </ons-toolbar>
              <h3 class="center">Conversion stère -> volume</h3>
              <p class="content-pad">Entrez le volume de bois (en stère) puis la longueur des bûches (en centimètres), et cliquez sur <i>conversion</i> pour obtenir le volume en mètre cube</p>

             <div ng-form name="stereVolumeForm" style="text-align: center" >
                <br>Volume de bois (st) :
                <br><input name="stereInput" type="number" step="0.01" min="0.01" max="99.99" class="text-input" ng-model="stere" required />
                <span class="input-error" ng-show="showValidationMessages && stereVolumeForm.stereInput.$error.required"><br>Indiquez le sterage</span>
                <span class="input-error" ng-show="showValidationMessages && stereVolumeForm.stereInput.$error.number"><br>Le sterage doit être un chiffre</span>
                <span class="input-error" ng-show="showValidationMessages && stereVolumeForm.stereInput.$error.min"><br>Le sterage doit être superieur à 0</span>
                <span class="input-error" ng-show="showValidationMessages && stereVolumeForm.stereInput.$error.max"><br>Le sterage doit être inferieur à 100</span>
                <br><br>Longueur des buches (cm) :
                <br><input name="longBucheInput" type="number" step="1" min="20" max="100" class="text-input" ng-model="longbuche" required />
                <span class="input-error" ng-show="showValidationMessages && stereVolumeForm.longBucheInput.$error.required"><br>Indiquez la longueur des bûches</span>
                <span class="input-error" ng-show="showValidationMessages && stereVolumeForm.longBucheInput.$error.number"><br>La longueur des bûches doit être un chiffre</span>
                <span class="input-error" ng-show="showValidationMessages && stereVolumeForm.longBucheInput.$error.min"><br>La longueur des bûches doit être de 20 cm au minimum</span>
                <span class="input-error" ng-show="showValidationMessages && stereVolumeForm.longBucheInput.$error.max"><br>La longueur des bûches doit être de 1 metres au maximum</span>
                <br><br>
                <button class="button" ng-click='getVolume()'>conversion</button>
                <p ng-show="volume != ''">Volume de bois : {{volume}}m&sup3; en bûches de {{longbucheCtrl}}cm ({{stereCtrl}} st)</p>
            </div>
          </ons-page>
        </ons-template>



        <ons-template id="bucherStere">
          <ons-page ng-controller="BucherStereCtrl">
            <ons-toolbar>
              <div class="left">
                <ons-back-button>Retour</ons-back-button>
              </div>
            </ons-toolbar>
            <h3 class="center">Conversion dimensions -> stère</h3>
            <p class="content-pad">Entrez les dimensions de votre bûcher (longueur, largeur, hauteur en mètre) puis la longueur des bûches (en centimètres), et cliquez sur <i>conversion</i> pour obtenir son volume en stère</p>
            <div ng-form name="bucherStereForm" style="text-align: center" >
                <br>Longueur (m) :
                <br><input name="longTasInput" type="number" step="0.01" min="0.01" max="99" class="text-input" ng-model="longtas" required />
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.longTasInput.$error.required"><br>Indiquez la longueur</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.longTasInput.$error.number"><br>La longueur doit être un chiffre</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.longTasInput.$error.min"><br>La longueur doit être superieur à 0</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.longTasInput.$error.max"><br>La longueur doit être inferieur à 100 metres</span>
                <br><br>Largeur (m) :
                <br><input name="largeTasInput" type="number" step="0.01" min="0.01" max="99" class="text-input" ng-model="largetas" required />
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.largeTasInput.$error.required"><br>Indiquez la largeur</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.largeTasInput.$error.number"><br>La longueur doit être un chiffre</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.largeTasInput.$error.min"><br>La longueur doit être superieur à 0</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.largeTasInput.$error.max"><br>La longueur doit être inferieur à 100 metres</span>
                <br><br>Hauteur (m) :
                <br><input name="hautTasInput" type="number" step="0.01" min="0.01" max="99" class="text-input" ng-model="hauttas" required />
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.hautTasInput.$error.required"><br>Indiquez la hauteur</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.hautTasInput.$error.number"><br>La hauteur doit être un chiffre</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.hautTasInput.$error.min"><br>La hauteur doit être superieur à 0</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.hautTasInput.$error.max"><br>La hauteur doit être inferieur à 100 metres</span>
                <br><br>Longueur des buches (cm) :
                <br><input name="longBucheInput" type="number" step="1" min="20" max="100" class="text-input" ng-model="longbuche" required />
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.longBucheInput.$error.required"><br>Indiquez la longueur des bûches</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.longBucheInput.$error.number"><br>La longueur des bûches doit être un chiffre</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.longBucheInput.$error.min"><br>La longueur des bûches doit être de 20 cm au minimum</span>
                <span class="input-error" ng-show="showValidationMessages && bucherStereForm.longBucheInput.$error.max"><br>La longueur des bûches doit être de 1 metres au maximum</span>
                <br><br>
                <button class="button" ng-click='getStere()' ng-disabled="longtas.$dirty || longtas.$invalid">conversion</button>
                <p ng-show="stere != ''">Volume de bois : {{stere}} st en bûches de {{longbucheCtrl}}cm ({{volume}}m&sup3;)</p>
            </div>
          </ons-page>
        </ons-template>



        <ons-template id="volumeStere">
          <ons-page ng-controller="VolumeStereCtrl">
            <ons-toolbar>
              <div class="left">
                <ons-back-button>Retour</ons-back-button>
              </div>
            </ons-toolbar>
            <h3 class="center">Conversion volume -> stère</h3>
            <p class="content-pad">Entrez le volume de bois (en mètre cube) puis la longueur des bûches (en centimètres), et cliquez sur <i>conversion</i> pour obtenir le volume en stère</p>

            <div ng-form name="volumeStereForm" style="text-align: center" >
                <br>Volume du bucher (m&sup3;) :
                <br><input name="volumeInput" type="number" step="0.01" min="0.01" max="99" class="text-input" ng-model="volume" required />
                <span class="input-error" ng-show="showValidationMessages && volumeStereForm.volumeInput.$error.required"><br>Indiquez le volume</span>
                <span class="input-error" ng-show="showValidationMessages && volumeStereForm.volumeInput.$error.number"><br>Le volume doit être un chiffre</span>
                <span class="input-error" ng-show="showValidationMessages && volumeStereForm.volumeInput.$error.min"><br>Le volume doit être superieur à 0</span>
                <span class="input-error" ng-show="showValidationMessages && volumeStereForm.volumeInput.$error.max"><br>Le volume doit être inferieur à 100 metres</span>
                <br><br>Longueur des buches (cm) :
                <br><input name="longBucheInput" type="number" step="1" min="20" max="100" class="text-input" ng-model="longbuche" required />
                <span class="input-error" ng-show="showValidationMessages && volumeStereForm.longBucheInput.$error.required"><br>Indiquez la longueur des bûches</span>
                <span class="input-error" ng-show="showValidationMessages && volumeStereForm.longBucheInput.$error.number"><br>La longueur des bûches doit être un chiffre</span>
                <span class="input-error" ng-show="showValidationMessages && volumeStereForm.longBucheInput.$error.min"><br>La longueur des bûches doit être de 20 cm au minimum</span>
                <span class="input-error" ng-show="showValidationMessages && volumeStereForm.longBucheInput.$error.max"><br>La longueur des bûches doit être de 1 metres au maximum</span>
                <br><br>
                <button class="button" ng-click='getStere()' ng-disabled="longtas.$dirty || longtas.$invalid">conversion</button>
                <p ng-show="stere != ''">Volume de bois : {{stere}} st en bûches de {{longbucheCtrl}}cm ({{volumeCtrl}}m&sup3;)</p>
            </div>
          </ons-page>
        </ons-template>



        <ons-template id="aide">
          <ons-page ng-controller="AideCtrl">
            <ons-toolbar>
              <div class="left">
                <ons-back-button>Retour</ons-back-button>
              </div>
            </ons-toolbar>

            <div class="content-pad">
                <p>
                    Le stère (du grec stereos, solide) est une unité de mesure de volume, valant 1 mètre cube, utilisée pour mesurer les volumes de stockage de bois de chauffage ou de charpente. Le stère peut avoir moins d'un mètre cube de matière, en fonction de l'espace existant entre les pièces de bois.
                </p>
                <div>
                    <img width="220" height="189" src="img/bucher.jpg" alt="" class="img-pad">
                <div>
                    1 mètre cube apparent de buches de 1m
                </div>
                </div>
                <p>
                    En France, le stère n'est plus officiellement utilisé comme unité légale : « L'emploi du stère devra cesser avant le 31 décembre 1977 », mais il est encore fréquemment utilisé pour le commerce du bois (de chauffage et d'industrie). Seul le mètre cube demeure l'unité officielle en France.
                </p>
                <p>
                    D'après l'ADEME, le stère (symbole st) équivaut à un mètre cube apparent dans le cas de bûches d'un mètre de long : soit un empilement de rondins ou de quartiers de bois d'un mètre de long dans un châssis délimitant un cube d'un mètre de côté. L'organisme évoque le fait que, si le bois est recoupé en tronçons plus courts, il est plus facile de réduire les vides entre bûches. Le volume apparent sera alors plus faible. La norme NF sur le bois de chauffage spécifie que l'étiquetage doit indiquer une quantité en mètres cubes mais fournit une correspondance normalisée entre le stère et le volume apparent (par exemple le stère de bois coupé en rondins de 33 cm a un volume apparent de 0,7 m3).
                </p>


                <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr" target="_blank">Contenu soumis à la licence CC-BY-SA</a>. 
                <br><p>Source : Article <em><a href="http://fr.wikipedia.org/wiki/St%C3%A8re" target="_blank">Stère</a></em> de <a href="http://fr.wikipedia.org/" target="_blank">Wikipédia en français</a>(<a href="http://fr.wikipedia.org/w/index.php?title=St%C3%A8re&action=history" target="_blank">auteurs</a>)</p>
            </div>

          </ons-page>
        </ons-template>



        <ons-template id="aPropos">
          <ons-page ng-controller="AProposCtrl">
            <ons-toolbar>
              <div class="left">
                <ons-back-button>Retour</ons-back-button>
              </div>
            </ons-toolbar>
            <div class="content-pad">
                <p>
                Cette application vous permet de convertir un volume de bois de mètre cube vers stère, et inverssement.
                </p>
                <p>
                Si vous n'avez pas calculé votre volume en mètre cube, mesurez votre buchez et entrez ses dimensions dans l'application (longueur, largeur, hauteur), la conversion se fera automatiquement.
                </p>
                <p>
                    V1.0.0 - <a href="http://barnsonic.com" target="_blank">http://barnsonic.com</a> 
                </p>
            </div>
          </ons-page>
        </ons-template>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/onsenui.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
